@using GestionSousSite.Data.Models
@using GestionSousSite.Services
@using GestionSousSite.Features.Sites.Services
@using GestionSousSite.Features.Sites.Models
@using GestionSousSite.Components.Form
@using GestionSousSite.Features.Configuration.Components
@using GestionSousSite.Features.Pipelines.Components
@using MudBlazor
@inject PathsService PathsService
@inject SitesService SitesService
@inject AzureDevOpsService AzureDevOpsService
@inject UserStateService UserState

<p>RETOUR : @StatusMessage</p>

<h3>Liste des Sous-Sites</h3>

<div>
    <label for="selectedName">Choisir le drive :</label>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Valeur</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var drive in AvailableDrives.Where(x => x.Name == SelectedDriveName || string.IsNullOrEmpty(SelectedDriveName)))
            {
                <tr>
                    <th>Name</th>
                    <td>@drive.Label</td>
                    <td>
                        <button class="btn btn-@(drive.Name == SelectedDriveName ? "success" : "primary")" @onclick="() => OnDriveSelected(drive.Name)" title="Selectionner">
                            <span class="oi oi-caret-@(drive.Name == SelectedDriveName ? "bottom" : "right")" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (SelectedDrive != null)
{
    <p>Vous avez selectionner : @SelectedDrive.Label</p>
    <div class="tabs">
        <button class="tab-button @(ActiveTab == "Infos" ? "active" : "")" @onclick='() => SwitchTab("Infos")'>Drive Infos</button>
        @if (SelectedDrive.IsSiteConfigured(SelectedDrive.Path))
        {
            <button class="tab-button @(ActiveTab == "WebConfigPath" ? "active" : "")" @onclick='() => SwitchTab("WebConfigPath")'>WebConfig</button>
            <button class="tab-button @(ActiveTab == "SousDomaine" ? "active" : "")" @onclick='() => SwitchTab("SousDomaine")'>SousDomaine (@(SousSites != null ? SousSites.Count : 0))</button>
            <button class="tab-button @(ActiveTab == "Pipelines" ? "active" : "")" @onclick='() => SwitchTab("Pipelines")'>Pipelines ()</button>
        }
    </div>

    <div class="tab-content">
        @if (ActiveTab == "Infos")
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Config</th>
                        <th>Valeur</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>@SelectedDrive.Name</td>
                        <td>@SelectedDrive.Name</td>
                    </tr>
                    <tr>
                        <td>Path</td>
                        <td>@SelectedDrive.Path</td>
                        <td> 
                            @if (!SelectedDrive.IsPathExist)
                            {
                                <MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="InitializeDrive"
                                StartIcon="@Icons.Material.Filled.Add"
                                EndIcon="@Icons.Material.Filled.Add">
                                    Initialiser le Drive
                                </MudButton>
                            }
                            else
                            {
                                <MudButton Variant="Variant.Outlined" Color="Color.Success" OnClick="InitializeDrive"
                                EndIcon="@Icons.Material.Filled.PlaylistAddCheck" Disabled="true">
                                    Drive Initialiser
                                </MudButton>

                            }
                        </td>
                    </tr>
                    <tr>
                        <td>DnsName</td>
                        <td><MudLink Typo="Typo.body2" Href="@($"https://@SelectedDrive.DnsName")" Target="_blank">https://@SelectedDrive.DnsName</MudLink></td>
                        <td>
                            @if (!SelectedDrive.IsConfigured)
                            {
                                <MudTooltip Text="Web.config non trouvé, voulez-vous initialiser le dossier ?">
                                    <MudButton Variant="@(SelectedDrive.IsConfigured ? Variant.Text : Variant.Filled)"
                                    StartIcon="@Icons.Material.Filled.Dangerous"
                                    EndIcon="@Icons.Material.Filled.Dangerous"
                                    Color="@(ShowDrivePipelineRunner ? Color.Warning : Color.Error)"
                                    Style="text-transform:none"
                                    OnClick="InitializeDriveContent">
                                        Initialiser ?
                                    </MudButton>
                                </MudTooltip>
                            }
                            else
                            {
                                <MudButton Variant="Variant.Outlined" Color="Color.Success"
                                EndIcon="@Icons.Material.Filled.PlaylistAddCheck" Disabled="true">
                                    Web.config présent
                                </MudButton>
                            }
                        </td>
                    </tr>
                    @if (ShowDrivePipelineRunner)
                    {
                        <tr>
                            <td colspan="3">
                                <DrivePipelineRunner />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        @if (ActiveTab == "WebConfigPath" && SelectedDrive.IsSiteConfigured(SelectedDrive.Path))
        {
            @if (!string.IsNullOrEmpty(WebConfigPath))
            {
                <WebConfig WebConfigPath="@WebConfigPath" />
            }
        }
        @if (ActiveTab == "Pipelines" && SelectedDrive.IsSiteConfigured(SelectedDrive.Path))
        {
            <PipelineViewer />
        }
        @if (ActiveTab == "SousDomaine" && SelectedDrive.IsSiteConfigured(SelectedDrive.Path))
        {
            <div>
                <label>Nom du Sous-Site :</label>
                <input @bind="SubdomainName" placeholder="Ex: bidule" />
            </div>
            <div>
                <label>Branche :</label>
                <Autocomplete TItem="string"
                SearchMethod="LoadBranchesAsync"
                SuggestionDisplay="(branch => branch)"
                OnSelected="OnBranchSelected" />
            </div>
            <div>
                <button @onclick="CreateSubsite">Créer le Sous-Site</button>
            </div>

            @if (SousSites == null || SousSites.Count == 0)
            {
                <p>Aucun sous-site trouvé.</p>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>URL</th>
                            <th>Chemin</th>
                            <th>Web.Config ?</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var site in SousSites)
                        {
                            <tr>
                                <td>@site.Name</td>
                                <td><a href="http://@site.SubDnsName" target="_blank">@site.SubDnsName</a></td>
                                <td><a href="@site.SubPath" target="_blank">@site.SubPath</a></td>
                                <td>@(site.SubIsConfigured ? "Configuré" : "Non configuré")</td>
                                <td>
                                    @if (!site.SubIsConfigured)
                                    {
                                        <button class="btn btn-primary" @onclick="() => InitializeSite(site.Name)">Initialiser</button>
                                    }
                                    <button class="btn small btn-danger" @onclick="()=> DeleteSubsite(site.Name)">Supprimer</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
    </div>
}
else
{
    <p>Sélectionnez un DRIVE pour voir la liste des sous-sites.</p>
}
@code {
    private bool ShowDrivePipelineRunner = false;
    private List<DrivePathInfo> AvailableDrives = new List<DrivePathInfo>();
    private DrivePathInfo? _selectedDrive;
    private string _selectedName = string.Empty;
    private string _selectedPath = string.Empty;
    private string ActiveTab { get; set; } = "Infos";
    private string SelectedPath
    {
        get => _selectedPath;
    }
    private string SelectedDriveName
    {
        get => _selectedName;
        set
        {
            if (_selectedDrive == null || _selectedName != value)
            {
                _selectedName = value;
                if (!string.IsNullOrEmpty(_selectedName)) 
                {
                    _selectedDrive = AvailableDrives.Single(x => x.Name == _selectedName);
                    if (_selectedDrive != null)
                    {
                        _selectedPath = _selectedDrive.Path;
                        OnDriveSelectionChanged();
                    }
                    else
                    {
                        StatusMessage = "ERREUR : Impossible de trouver le Drive correspondant";
                    }
                }
                else
                {
                    _selectedDrive = null;
                    _selectedPath = string.Empty;
                }
            }
        }
    }
    private string SelectedBranch = string.Empty;
    private List<string> Branches = new List<string>();
    private DrivePathInfo? SelectedDrive
    {
        get => _selectedDrive;
    }
    private List<SousSite> SousSites = new List<SousSite>();

    private string StatusMessage = string.Empty;
    private string SubdomainName = string.Empty;
    private string? WebConfigPath => SelectedDrive != null ? Path.Combine(SelectedDrive.Path, "web.config") : null;

    protected override void OnInitialized()
    {
        // Charger les chemins depuis paths.json
        AvailableDrives = PathsService.GetPaths();
    }

    protected async Task InitializedBranchesAsync()
    {
        try
        {
            if (SelectedDrive != null)
            {
                Branches = await AzureDevOpsService.GetBranchesAsync(SelectedDrive.Project, SelectedDrive.Repo);
            }
        }
        catch (Exception ex)
        {
            StatusMessage = $"Erreur lors de la récupération des branches : {ex.Message}";
        }
    }

    protected void InitializedBranches()
    {
        try
        {
            if (SelectedDrive != null)
            {
                Branches = AzureDevOpsService.GetBranchesAsync(SelectedDrive.Project, SelectedDrive.Repo).Result;
            }
        }
        catch (Exception ex)
        {
            StatusMessage = $"Erreur lors de la récupération des branches : {ex.Message}";
        }
    }

    private async Task<IEnumerable<string>> LoadBranchesAsync(string searchText)
    {
        // Charger les branches avec une recherche sur le texte saisi
        if (SelectedDrive != null)
        {
            return await AzureDevOpsService.SearchBranchesAsync(searchText, SelectedDrive.Project, SelectedDrive.Repo);
        }
        return [];
    }

    private async void OnBranchSelected(string branchName)
    {
        await InvokeAsync(() => {
            SelectedBranch = branchName;
        });
    }


    private void OnDriveSelectionChanged()
    {
        if (SelectedDrive != null)
        {
            UserState.SetSelectedDrive(SelectedDrive);
            StateHasChanged(); // Forcer la mise à jour
            SousSites = SitesService.GetSousSites(SelectedDrive);
            //InitializedBranches();
        }
    }
    private async Task OnDriveSelectionChangedAsync()
    {
        if (SelectedDrive != null)
        {
            UserState.SetSelectedDrive(SelectedDrive);
            StateHasChanged(); // Forcer la mise à jour
            SousSites = SitesService.GetSousSites(SelectedDrive);
            //await InitializedBranchesAsync();
            await Task.Run(() => { });
        }
    }

    private async Task CreateSubsite() => await ExecuteSiteAction(() => SitesService.CreateSubsite(SubdomainName, SelectedPath));

    private async Task DeleteSubsite(string subdomainName) => await ExecuteSiteAction(() => SitesService.DeleteSubsite(subdomainName, SelectedPath));

    private async Task InitializeSite(string siteName) => await ExecuteSiteAction(() => SitesService.InitializeSite(siteName));

    private async Task ExecuteSiteAction(Func<Task<(bool Succeeded, string StatusMessage)>> action)
    {
        try
        {
            // Exécute l'action fournie
            var result = await action();

            if (result.Succeeded)
            {
                // Mettre à jour la liste des sous-sites
                await OnDriveSelectionChangedAsync();
            }

            StatusMessage = result.StatusMessage;
        }
        catch (Exception ex)
        {
            StatusMessage = $"Erreur : {ex.Message}";
        }
    }
    private void SwitchTab(string tabName)
    {
        ActiveTab = tabName;
    }


    private async Task OnDriveSelected(string driveName)
    {
        SelectedDriveName = driveName == SelectedDriveName ? string.Empty : driveName;

        if (SelectedDrive != null)
        {
            UserState.SetSelectedDrive(SelectedDrive);
            StatusMessage = $"Drive sélectionné : {SelectedDrive.Label}";
            await LoadDriveDataAsync();
        }
        else
        {
            StatusMessage = "Aucun Drive sélectionné.";
            SousSites.Clear();
        }
    }

    private async Task LoadDriveDataAsync()
    {
        if (SelectedDrive != null)
        {
            try
            {
                SousSites = SitesService.GetSousSites(SelectedDrive);
                //SelectedBranch = await AzureDevOpsService.GetBranchesAsync(SelectedDrive.Project, SelectedDrive.Repo).ContinueWith(t => t.Result.FirstOrDefault());
                await Task.Run(()=>{ });
            }
            catch (Exception ex)
            {
                StatusMessage = $"Erreur lors du chargement des données du drive : {ex.Message}";
            }
        }
    }

    private async Task InitializeDrive()
    {
        if (SelectedDrive == null || string.IsNullOrEmpty(SelectedDrive.Path))
        {
            StatusMessage = "Aucun Drive sélectionné ou chemin invalide.";
            return;
        }

        try
        {
            // Vérifier si le dossier existe déjà
            if (Directory.Exists(SelectedDrive.Path))
            {
                StatusMessage = "Le dossier existe déjà.";
                return;
            }

            // Créer le dossier et les sous-dossiers
            Directory.CreateDirectory(SelectedDrive.Path);

            // Vérifier si le dossier existe déjà
            if (Directory.Exists(SelectedDrive.Path))
            {
                StatusMessage = "Le Drive a été initialisé avec succès.";
                await RefreshDriveState();
            }
            else
            {
                StatusMessage = "Erreur Le Drive n'a oas été initialisé.";
            }
        }
        catch (Exception ex)
        {
            StatusMessage = $"Erreur lors de l'initialisation du Drive : {ex.Message}";
        }
    }
    private async Task RefreshDriveState()
    {
        if (SelectedDrive != null)
        {
            SousSites = SitesService.GetSousSites(SelectedDrive);
        }
        await Task.Run(() => { Thread.Sleep(1); });
    }

    private async Task InitializeDriveContent()
    {
        ShowDrivePipelineRunner = !ShowDrivePipelineRunner;
        await Task.Run(() => { Thread.Sleep(1); });
    }

}
